@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan kode di bawah ini */
@layer components {
  .form-label {
    @apply block text-sm font-medium text-gray-700 mb-1;
  }
  .form-input {
    @apply w-full border border-gray-300 rounded-lg px-4 py-2 focus:ring-2 focus:ring-green-600 focus:border-transparent outline-none transition duration-200;
  }
}